{# Load the tag library #}
{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% if latest_question_list %}

<div class="col-xs-8">

    <ul>
    	<h1><b>Polls</b></h2>
    	<p>Here's a list of the latest polls!</p>
    {% for question in latest_question_list %}
    <!--  Link back to the question Detail page -->
    <!--  'polls:' is included because of the polls namespacing in polltutorial > urls.py -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Sorry, no polls are available today.</p>
{% endif %}

</div>